html::-webkit-scrollbar {
    display: none;
}
body{
    margin: 0;
    padding: 0;
    background: var(--background);
    font-family: "Cinzel", serif;
}
:root{
    --background: #000000;
    --gold: #ffe684;
    --orange: #ff7300;
    --rose: #f88181;
    --red: #ff0000;
    --violet: #d300ff;
    --light-violet: #e8a5f5;
    --green: #61ff29;
    --light-green: #cdf2bb;
    --white: #fff1df;
    --blue: #006283;
    --light-yellow: #fff293;
}


/* HEADER */


.site-header {
    padding: 0 20px;
    display: grid;
    align-items: center;
    width: 100%;
    height: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    z-index: 1000;
    position: absolute;
}
.logo{
    width: clamp(20px, 1.8vw, 40px);
    height: auto;
    filter: 
    drop-shadow(0px 0px 3px var(--orange))
    drop-shadow(0px 0px 4px var(--orange));
    padding: 0 15px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}
.menu a{
    text-align: center;
    font-size: clamp(11px, 0.7vw, 28px);
    text-decoration: none;
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: bold;
}
.menu-propuesta{
    color: var(--gold);
    text-shadow: 
    0px 0px 9px var(--orange),
    0px 0px 10px var(--orange);
}
.menu-cafe{
    color: var(--gold);
    text-shadow: 
    0px 0px 9px var(--orange),
    0px 0px 10px var(--orange);
}
.menu-barber{
    color: var(--light-green);
    text-shadow: 
    0px 0px 9px var(--green),
    0px 0px 10px var(--green);
}
.menu-tattoo{
    color: var(--light-violet);
    text-shadow: 
    0px 0px 9px var(--violet),
    0px 0px 10px var(--violet);
}


/* MENU PRINCIPAL */


.main-container {
    position: relative;
    width: 100%;
    height: 100svh;
    overflow: hidden;
}
.main-image {
    width: 100%;
    height:100%;
    filter: brightness(0.4);
    object-fit: cover;
    position: absolute;
    animation:zoom 25s ease-in-out infinite alternate;
    -webkit-mask-image: linear-gradient(
        to bottom,
        black 50%,
        transparent 100%
    );
    mask-image: linear-gradient(
        to bottom,
        black 0%,
        transparent 100%
    );
}
.site-title{ 
    text-align: center;
    font-size: clamp(20px,6vw, 50px);
    color: var(--gold);
    text-shadow: 
    0px 0px 9px var(--orange),
    0px 0px 10px var(--orange);
    text-transform: uppercase;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: neon-flicker 8s infinite;
}
.site-subtitle{
    text-align: center;
    font-size: clamp(10px, 2vw, 20px);
    color: var(--rose);
    text-shadow: 
    0px 0px 8px var(--red),
    0px 0px 12px var(--red),
    0px 0px 20px var(--red);
    text-transform: uppercase;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ¿QUÉ SOMOS */


.about-us{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.about-us-content{
    position: relative;
    z-index: 2;
}
.about-us-title{
    text-align: center;
    margin-top: 10vh;
    color: var(--gold);
    text-shadow:
            0 0 5px #ffb347,
            0 0 10px #ffb347,
            0 0 20px #ff9900,
            0 0 30px #ff7700,
            0 0 60px #ff5500;
    font-size: clamp(22px, 1.8vw, 40px);
    text-transform: uppercase;
}
.about-us-subtitle{
    text-align: center;
    text-transform: uppercase;
    color:var(--rose);
    text-shadow: 
    0 0 8px var(--red),
    0 0 12px var(--red);
    font-weight: normal;
    font-size: clamp(10px, 1vw, 28px);
}
.about-us-description-1{
    width: 60%;
    margin: 100px auto 0;
    color:var(--white);
    letter-spacing: 1px;
    line-height: 1.6;
    font-size: clamp(10px, 1vw, 28px);

}
.about-us-description-2{
    text-align: center;
    width: 60%;
    margin: 70px auto;
    color:var(--rose);
    text-shadow:
        0 0 8px var(--red),
        0 0 12px var(--red);
    letter-spacing: 1px;
    font-size: clamp(10px, 1vw, 28px);
    font-weight: bold;
}
.about-us-description-3{
    width: 60%;
    margin: 30px auto;
    color:var(--white);
    letter-spacing: 1px;
    font-size: clamp(10px, 1vw, 28px);
}
.about-us-description-4{
    width: 60%;
    margin: 30px auto;
    color:var(--white);
    letter-spacing: 1px;
    font-size: clamp(10px, 1vw, 28px);
}
.about-us-description-5{
    width: 60%;
    margin: 30px auto;
    color:var(--white);
    letter-spacing: 1px;
    font-size: clamp(10px, 1vw, 28px);
}
.about-us-final{
    text-align: center;
    width: 60%;
    margin: 50px auto;
    letter-spacing: 1px;
    font-size: clamp(10px, 1vw, 28px);
    font-weight: bold;
    color: var(--white);
    text-shadow: 
        0 0 8px #ffb347,
        0 0 18px #ff9900,
        0 0 25px #ff7700,
        0 0 40px #ff5500;
}
.w-bd-barber{
    text-transform: uppercase;
    color:var(--light-yellow);
    text-shadow: 
        0 0 5px #7bff47,
        0 0 8px #7bff47,
        0 0 18px #66cc00,
        0 0 25px #44aa00,
        0 0 40px #228800;
}
.w-pachii-tattoo{
    text-transform: uppercase;
    color:var(--light-violet);
    text-shadow: 
        0 0 5px #d300ff,
        0 0 8px #d300ff,
        0 0 18px #b200d3,
        0 0 25px #9100b2,
        0 0 40px #700091;
}
.w-cafe{
    text-transform: uppercase;
    color:var(--gold);
    text-shadow: 
        0 0 5px #ffb347,
        0 0 8px #ffb347,
        0 0 18px #ff9900,
        0 0 25px #ff7700,
        0 0 40px #ff5500;
}


/* MARCAS */


.brands-title{
    text-align: center;
    margin: 100px;
    color: var(--gold);
    text-shadow:
            0 0 5px #ffb347,
            0 0 10px #ffb347,
            0 0 20px #ff9900,
            0 0 30px #ff7700,
            0 0 60px #ff5500;
    font-size: clamp(22px, 1.8vw, 40px);
    text-transform: uppercase;
}
.brands-image-container{
    position: relative;
    width: 100%;
    height: 80svh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.brands-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    box-shadow: 0 0 30px #000;
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 20%,
        black 80%,
        transparent 100%
    );
    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 20%,
        black 80%,
        transparent 100%
    );
    filter: brightness(0.4);
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1), filter 0.5s ease; 
}

.brands-image-container > div:hover .brands-image {
    transform: scale(1.05); 
    filter: brightness(0.9); 
}
.brands-image-container:has(.brands-image:hover){
    grid-template-columns: 0.7fr 0.7fr 0.7fr;
}
.brands-image:hover{
    grid-template-columns: 1.6fr;
}
.brands-image-container:has(> div:nth-child(1):hover) { grid-template-columns: 1.6fr 0.7fr 0.7fr; }
.brands-image-container:has(> div:nth-child(2):hover) { grid-template-columns: 0.7fr 1.6fr 0.7fr; }
.brands-image-container:has(> div:nth-child(3):hover) { grid-template-columns: 0.7fr 0.7fr 1.6fr; }

.brands p{
    text-transform: uppercase;
    font-size: clamp(10px, 1.3vw, 28px);
    font-weight: bold;
    position: absolute;
    top: 10%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.pachii-tattoo p{
    left: 7%;
    text-align: left;
    color:var(--light-violet);
    text-shadow: 
        0 0 5px #d300ff,
        0 0 8px #d300ff,
        0 0 18px #b200d3,
        0 0 25px #9100b2,
        0 0 40px #700091;
}
.cafe p{
    left: 50%;
    text-align: center;
    color:var(--gold);
    text-shadow: 
        0 0 5px #ffb347,
        0 0 8px #ffb347,
        0 0 18px #ff9900,
        0 0 25px #ff7700,
        0 0 40px #ff5500;
}
.bd-barber p{
    left: 92%;
    text-align: right;
    color:var(--light-yellow);
    text-shadow: 
        0 0 5px #7bff47,
        0 0 8px #7bff47,
        0 0 18px #66cc00,
        0 0 25px #44aa00,
        0 0 40px #228800;
}






/* ANIMACIONES */


@keyframes neon-flicker{

    /* Encendido normal */
    0%, 70%, 100%{
        opacity:1;
        color: var(--gold);

        text-shadow:
            0 0 5px #ffb347,
            0 0 10px #ffb347,
            0 0 20px #ff9900,
            0 0 40px #ff7700,
            0 0 80px #ff5500;
    }

    /* Empieza a fallar */
    71%{
        opacity:.4;
    }

    /* Apagado */
    72%,73%{
        opacity:0;
        color:transparent;
        text-shadow:none;
    }

    /* Vuelve un instante */
    74%{
        opacity:1;
        color:var(--gold);

        text-shadow:
            0 0 8px #ffd17d,
            0 0 20px #ffb347,
            0 0 45px #ff9900,
            0 0 80px #ff7700;
    }

    /* Otro fallo */
    75%{
        opacity:0;
        color:transparent;
        text-shadow:none;
    }

    /* Ya queda estable */
    76%,100%{
        opacity:1;
        color: var(--gold);

        text-shadow:
            0 0 5px #ffb347,
            0 0 10px #ffb347,
            0 0 20px #ff9900,
            0 0 40px #ff7700,
            0 0 80px #ff5500;
    }

}
@keyframes zoom{

from{

transform:scale(1);

}

to{

transform:scale(1.04);

}

}
@keyframes float{

    0%{
        transform:translateY(0px);
        
    }

    50%{
        transform:translateY(-25px);
        
    }

    100%{
        transform: translateY(0px);
    }

}
@keyframes ambientLight{

    0%{
        transform: translateY(-50%) scale(1);
        opacity: .18;
    }

    50%{
        transform: translateY(-50%) scale(1.08);
        opacity: .28;
    }

    100%{
        transform: translateY(-50%) scale(1);
        opacity: .18;
    }

}