html::-webkit-scrollbar {
    display: none;
}
body{
    margin: 0;
    padding: 0;
    background: var(--background);
    font-family: "Cinzel", serif;
}
:root{
    --background: #020202;
    --gold: #ffe684;
    --orange: #ff7300;
    --rose: #f88181;
    --red: #ff0000;
    --violet: #d300ff;
    --light-violet: #e8a5f5;
    --green: #61ff29;
    --light-green: #cdf2bb;
    --white: #fff1df;
    --blue: #006283;
    --light-yellow: #fff293;
    --creme: #fdeba1;
}


/* HEADER */


.site-header {
    padding: 0 20px;
    display: grid;
    align-items: center;
    width: 100%;
    height: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    z-index: 1000;
    position: absolute;
}
.logo{
    width: clamp(20px, 1.8vw, 40px);
    height: auto;
    filter: 
    drop-shadow(0px 0px 3px var(--orange))
    drop-shadow(0px 0px 4px var(--orange));
    padding: 0 15px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}
.menu a{
    text-align: center;
    font-size: clamp(11px, 0.7vw, 28px);
    text-decoration: none;
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: bold;
}
.menu-propuesta{
    color: var(--gold);
    text-shadow: 
    0px 0px 9px var(--orange),
    0px 0px 10px var(--orange);
}
.menu-cafe{
    color: var(--gold);
    text-shadow: 
        0 0 5px #ffb347,
        0 0 8px #ffb347,
        0 0 18px #ff9900,
        0 0 25px #ff7700,
        0 0 40px #ff5500;
}
.menu-barber{
    color: var(--light-yellow);
     text-shadow: 
        0 0 5px #4dac28,
        0 0 8px #7bff47,
        0 0 18px #66cc00,
        0 0 25px #44aa00,
        0 0 40px #228800;
}
.menu-tattoo{
    color: var(--light-violet);
    text-shadow: 
        0 0 5px #d300ff,
        0 0 8px #d300ff,
        0 0 18px #b200d3,
        0 0 25px #9100b2,
        0 0 40px #700091;
}


/* MENU PRINCIPAL */


.main-page {
    position: relative;
    width: 100%;
    height: 100svh;
    overflow: hidden;
}
.main-image {
    width: 100%;
    height:100%;
    object-fit: cover;
    position: absolute;
    animation:zoom 25s ease-in-out infinite alternate;
    -webkit-mask-image: linear-gradient(
        to bottom,
        black 78%,
        transparent 100%
    );
    mask-image: linear-gradient(
        to bottom,
        black 78%,
        transparent 100%
    );
}
.main-image::after{
    content: "";
    position: absolute;
    inset: 0;

    background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0) 100%,
        transparent 100%
    );

    pointer-events: none;
}

.site-title{ 
    text-align: center;
    font-size: clamp(20px,6vw, 50px);
    text-transform: uppercase;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: neon-flicker 8s infinite;
}
.site-subtitle{
    text-align: center;
    font-size: clamp(10px, 2vw, 20px);
    color: var(--rose);
    text-shadow: 
    0px 0px 8px var(--red),
    0px 0px 12px var(--red),
    0px 0px 20px var(--red);
    text-transform: uppercase;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ¿QUÉ SOMOS */


.about-us{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.about-us-content{
    position: relative;
    z-index: 2;
}
.about-us-title{
    text-align: center;
    color: var(--creme);
    width: 55%;
    margin: 0 auto;
    font-size: clamp(22px, 1.8vw, 40px);
    text-shadow: 
        0 0 8px #ff6f00,
        0 0 20px #ff6a00;
}
.about-us-subtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10vh 0 4vh 0;
    text-align: center;
    text-transform: uppercase;
    color:var(--white);
    font-size: clamp(10px, 0.9vw, 28px);
    font-family: sans-serif;
    gap: 1rem;
}
.about-us-subtitle::before,
.about-us-subtitle::after{
    content: "";
    width: 2.5vw;
    height: 1px;
    background: var(--gold);
}
.about-us-description-1{
    text-align: center;
    width: 45%;
    margin: 10vh auto ;
    color:var(--white);
    line-height: 1.6;
    font-size: clamp(10px, 1.2vw, 28px);

}
.about-us-final{
    margin: 10vh 0 4vh 0;
    text-align: center;
    text-transform: uppercase;
    color: var(--rose);
    text-shadow: 
    0 0 8px var(--red),
    0 0 10px var(--red);
    font-size: clamp(10px, 0.9vw, 28px);
}


/* MARCAS */

.brands{
    margin-top: 10vh;
    width: 100%;
    height: 80svh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    overflow: hidden;
    transition: grid-template-columns 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.brand-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 0 0 30px #000;
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 20%,
        black 80%,
        transparent 100%
    );
    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 20%,
        black 80%,
        transparent 100%
    );
    filter: brightness(0.8);
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1), filter 0.5s ease; 
}

.brands > article:hover .brand-image {
    transform: scale(1.05); 
}
.brand-card:hover .brand-overlay{
    background: rgba(0, 0, 0, 0.55);
}
.brands:has(.brand-image:hover){
    grid-template-columns: 0.7fr 0.7fr 0.7fr;
}
.brand-image:hover{
    grid-template-columns: 1.6fr;
}
.brands:has(> article:nth-child(1):hover) { grid-template-columns: 1.4fr 0.8fr 0.8fr; }
.brands:has(> article:nth-child(2):hover) { grid-template-columns: 0.8fr 1.4fr 0.8fr; }
.brands:has(> article:nth-child(3):hover) { grid-template-columns: 0.8fr 0.8fr 1.4fr; }

.brand-card{
    text-transform: uppercase;
    font-size: clamp(10px, 1.3vw, 28px);
    font-weight: bold;
    position: relative;
    overflow:hidden;
    cursor: pointer;
}
.brand-card:not(:last-child){
    border-right: 5px solid var(--background);
}
.brand-overlay{
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    padding: 2rem;
}
.brand-content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2.5rem;
    box-sizing: border-box;
}
.brand-title{
    margin: 0;
    font-size: clamp(22px, 1.6vw, 38px);
    text-align: center;
    position:absolute;
    top: 50%;  
    left: 0;
    width: 100%;
    z-index: 2;
    transition: top 0.6s ease;
}
.brand-card:hover .brand-title{
    top: 3.5rem;
}
.brand-description, .brand-button{
    position: absolute;
    top: 100%;
    left: 10%;
    width: 80%;
    opacity: 0;
    transition: 
        opacity .35s ease,
        top .6s ease;
}
.brand-card:hover .brand-description{
    opacity: 1;
    top: 9rem;
}
.brand-card:hover .brand-button{
    opacity:1;
    top: calc(100% - 7rem);
}
.brand-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: .9rem 1.2rem;
    margin-top: auto;
    border: 1px solid currentColor;
    border-radius: 4px;
    background: transparent;
    font-size: clamp(10px, 1vw, 28px);
    letter-spacing: 0.08em;
    transition: 
        color .3s ease,
        border-color .3 ease;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}
.brand-description{
    color:var(--white);
    line-height: 1.6;
    font-size: clamp(10px, 1vw, 28px);
    text-transform: none;
    width: 80%;
    margin: auto;
    text-shadow: 
        0 0 5px #000,
        0 0 8px #000,
        0 0 18px #000,
        0 0 25px #000,
        0 0 40px #000;
    font-weight: normal;
}
.pachii-tattoo .brand-title{
    color:var(--light-violet);
    text-shadow: 
        0 0 5px #d300ff,
        0 0 8px #d300ff,
        0 0 18px #b200d3,
        0 0 25px #9100b2,
        0 0 40px #700091;
}
.pachii-tattoo .brand-button{
    color: var(--light-violet);
    border-color: var(--violet);
}
.pachii-tattoo .brand-button:hover{
    box-shadow: 
        0 0 5px #d300ff,
        0 0 8px #d300ff;
    text-shadow: 
        0 0 5px #d300ff,
        0 0 8px #d300ff,
        0 0 18px #b200d3,
        0 0 25px #9100b2,
        0 0 40px #700091;
}
.cafe .brand-title{
    color:var(--gold);
    text-shadow: 
        0 0 5px #ffb347,
        0 0 8px #ffb347,
        0 0 18px #ff9900,
        0 0 25px #ff7700,
        0 0 40px #ff5500;
}
.cafe .brand-button{
    color: var(--light-yellow);
    border-color: var(--gold);
}
.cafe .brand-button:hover{
    box-shadow: 
        0 0 5px #ffb347,
        0 0 8px #ffb347;
    text-shadow: 
        0 0 5px #ffb347,
        0 0 8px #ffb347,
        0 0 18px #ff9900,
        0 0 25px #ff7700,
        0 0 40px #ff5500;
}
.bd-barber .brand-title{
    color:var(--light-yellow);
    text-shadow: 
        0 0 5px #4dac28,
        0 0 8px #7bff47,
        0 0 18px #66cc00,
        0 0 25px #44aa00,
        0 0 40px #228800;
}
.bd-barber .brand-button{
    color: var(--light-green);
    border-color: var(--green);
}
.bd-barber .brand-button:hover{
    color: var(--light-yellow);
    box-shadow: 
        0 0 5px #4dac28,
        0 0 8px #7bff47;
    text-shadow: 
        0 0 5px #4dac28,
        0 0 8px #7bff47,
        0 0 18px #66cc00,
        0 0 25px #44aa00,
        0 0 40px #228800;
}



/* FOOTER */

.site-footer{
    width: 100%;
    background: var(--background);
    border-top: 1px solid rgba(255, 230, 132, 0.2);
    color: var(--white);
}


/* PARTE PRINCIPAL */

.footer-main{
    width: 85%;
    margin: 0 auto;

    padding: 5rem 0;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 4rem;
}


/* IDENTIDAD */

.footer-brand img{
    width: clamp(35px, 4vw, 60px);
}

.footer-brand p{
    margin-top: 1.5rem;

    font-family: sans-serif;
    font-size: .85rem;

    color: var(--white);
    opacity: .7;
}


/* TITULOS */

.footer-navigation h3,
.footer-contact h3{
    margin: 0 0 1.5rem;

    color: var(--gold);

    font-size: .9rem;

    text-transform: uppercase;
}


/* LINKS */

.footer-navigation,
.footer-contact{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.footer-navigation a,
.footer-contact a{
    width: fit-content;

    color: var(--white);

    text-decoration: none;

    font-family: sans-serif;
    font-size: .85rem;

    opacity: .7;

    transition: color .3s ease,
                opacity .3s ease;
}

.footer-navigation a:hover,
.footer-contact a:hover{
    color: var(--gold);
    opacity: 1;
}


/* INFORMACIÓN */

.footer-contact p{
    margin: 0;

    font-family: sans-serif;
    font-size: .85rem;

    line-height: 1.5;

    opacity: .7;
}


/* PARTE INFERIOR */

.footer-bottom{
    width: 85%;
    margin: 0 auto;

    padding: 1.5rem 0;

    border-top: 1px solid rgba(255, 255, 255, .1);

    display: flex;
    justify-content: space-between;

    font-family: sans-serif;
    font-size: .7rem;

    color: var(--white);
    opacity: .5;
}




/* ANIMACIONES */


@keyframes neon-flicker{

    /* Encendido normal */
    0%, 70%, 100%{
        opacity:1;
        color: var(--creme);

        text-shadow:
            0 0 5px #ffb347,
            0 0 10px #ffb347,
            0 0 20px #ff9900,
            0 0 40px #ff7700,
            0 0 80px #ff5500;
    }

    /* Empieza a fallar */
    71%{
        opacity:.4;
    }

    /* Apagado */
    72%,73%{
        opacity:0;
        color:transparent;
        text-shadow:none;
    }

    /* Vuelve un instante */
    74%{
        opacity:1;
        color:var(--creme);

        text-shadow:
            0 0 8px #ffd17d,
            0 0 20px #ffb347,
            0 0 45px #ff9900,
            0 0 80px #ff7700;
    }

    /* Otro fallo */
    75%{
        opacity:0;
        color:transparent;
        text-shadow:none;
    }

    /* Ya queda estable */
    76%,100%{
        opacity:1;
        color: var(--creme);

        text-shadow:
            0 0 5px #ffb347,
            0 0 10px #ffb347,
            0 0 20px #ff9900,
            0 0 40px #ff7700,
            0 0 80px #ff5500;
    }

}
@keyframes zoom{

from{

transform:scale(1);

}

to{

transform:scale(1.04);

}

}
@keyframes float{

    0%{
        transform:translateY(0px);
        
    }

    50%{
        transform:translateY(-25px);
        
    }

    100%{
        transform: translateY(0px);
    }

}
@keyframes ambientLight{

    0%{
        transform: translateY(-50%) scale(1);
        opacity: .18;
    }

    50%{
        transform: translateY(-50%) scale(1.08);
        opacity: .28;
    }

    100%{
        transform: translateY(-50%) scale(1);
        opacity: .18;
    }

}